* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 3rem;
    font-family: 'STIX Two Math', serif;
    font-weight: 400;
}
h2 {
    font-size: 2rem;
    font-family: 'STIX Two Math', serif;
    font-weight: 400;
}
h3 {
    font-size: 1.5rem;
    font-family: 'STIX Two Math', serif;
    font-weight: 400;
}

/*HEADER*/
header {
    width: 100%;
    height: 33.3vh;
    display: flex;
    background-image: url("./media/nav-background.jpg");
    object-fit: scale-down;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: space-around;
}
.profile-picture {
    width: 33.33%;
    margin: 1rem;
    object-fit: cover;
    border-radius: 1rem;
    border: solid white 5px;
}
.intro {
    display: flex;
}
.intro__title {
    height: 100%;
    width: 70%;
    text-align: left;
    padding-top: 6%;
}
.intro__about {
    padding-top: 9%;
    text-align: center;
}

/*ABOUT*/
.about {
    margin-top: 2rem;
    margin-left: 1rem;
}
.about__content {
    margin-top: 1rem;
    width: 70%;
}
.about__image {
    width: 30%;
    padding: 0.5rem;
    height: auto;
    position: relative;
    float: right;
    bottom: 250px;
    border-radius: 1rem;
}

/*PROJECTS*/ 
.projects {
    height: 70vh;
    position: relative;
    top: 100px;
}
.projects__nav {
    width: 30%;
    position: relative;
    top: 25%;
    right: 1%;
    text-align: center;
}
.projects__heading {
    margin-bottom: 1rem;
}
.project__list {
    list-style-type: none;
}
.project__list li {
    margin: 1rem 0;
    cursor: pointer;
}
.project__about {
    width: 70%;
    height: 100%;
    padding: 1rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}
.project__about img {
    width: 60%;
    height: auto;
    align-self: center;
    border: 2.5px solid black;
}
.filler {
    display: flex;
    justify-content: center;
    align-items: center;
}
.one {
    display: none;
}
.two {
    display: none;
}
.three {
    display: none;
}
.three img {
    width: 60%;
    object-fit: cover;
    object-position: top;
}

/*FOOTER*/
footer {
    position: relative;
    top: 130px;
    padding: 1rem;
}

/*RESPONSIVENESS*/
@media only screen and (max-width: 640px) {
    /*HEADER*/
    .profile-picture {
        display: none;
    }
    header {
        background-image: url(/media/profile-picture.jpg);
        background-position: 80% 10%;
    }
    .intro__about {
        padding-top: 13%;
        padding-left: 1rem;
    }
    
    /*ABOUT*/ 
    .about__content {
        width: 100%;
    }
    .about__image {
        width: 40%;
        position: relative;
        right: 30%;
        top: 0;
    }

    /*PROJECTS*/
    .projects {
        top: 20px;
    }
    .project__about {
        height: 70%;
    }
    .projects__nav {
        top: 45%;
    }
    .three img {
        height: 40%;
    }
    
    /*FOOTER*/
    footer {
        top: 50px;
    }
}

@media only screen and (max-width: 430px) {
    
}